<div class="page-header">
  <% case @wizard_step
     when 0 %>
    <h1>Launch a Ship</h1>
  <% when 1 %>
      <h1>Create a Ship</h1>
  <% when 2 %>
    <h1>Choose your ship's picture</h1>
  <% when 3 %>
    <h1>Ship Created! Launch!</h1>
  <% else %>
      :(
  <% end %>
  <div class="progress">
    <div class="progress-bar progress-bar-success"
         role="progressbar"
         style="width: <%= (@wizard_step / 3.0) * 100 %>%">
      step <%= @wizard_step %> / 3
    </div>
  </div>
</div>