<%= render partial: 'partials/launch_wizard_header' %>
<div class="text-center">
  <div><%= link_to "Create New Ship", launch_wizard_new_ship_info_path, class: "btn btn-primary btn-lg" %></div>
</div>
