<script>
  window.CURRENT_USER = "<%= current_user.email %>";
  window.CURRENT_USER_COLOR = "<%= current_user.color %>";
</script>
<div id="radar_entry">
  Loading<span class="blink">...</span>
</div>